.auth {

  &__list {
    margin: 10px 0;
  }

  &__item {
    @include li-item;
    margin-right: 0;
  }

  &__link {
    @include link;

    &-active {
      @include button;
      padding: 8px 30px;
    }
  }
}
