$main-color: #3b3954;
$button-background-color: #709c8a;
$button-hover-background-color: #59ad8a;
$button-color: #f7f5f0;
$footer-color:  #f5f2ed;
$transition-duration: 0.2s;
$max-width: 1280px;
$big-screen-break-point: 1279px;
$cards-break-point: 1179px;
$footer-break-point: 1079px;
$medium-break-point: 979px;
$nav-break-point: 849px;
$small-break-point: 639px;
$mobile-break-point: 479px;
